body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row {
  width: auto;
}

.column {
  background-color: black;
  padding: 20px;
  text-align: left;
}

.title {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  color: goldenrod;
}

.title:hover {
  background-color: lightgray;
  color: white;
}

.dashboard {
  width: 100%;
}


.suggestion {
  border: 1px solid lightgray;
}